.call_modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #0008;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call_box {
    width: 100%;
    max-width: 400px;
    background: #17a2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #17a2b8;
}

.call_box h4,
.call_box h6 {
    margin-top: 5px;
}

.call_modal .timer {
    transform: translateY(-15px);
}

.call_menu {
    min-width: 280px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.call_menu span {
    font-size: 2rem;
    background: #eee;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}