/*----------STATUS-----------*/

.status {
    background: white;
    box-shadow: 0 0 5px #ddd;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, .125);
}

.status .statusBtn {
    background: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #555;
    padding: 0 10px;
    text-align: left;
    margin: 0 5px;
}

.status .statusBtn:hover {
    background: #ddd;
}


/*---------------POSTS----------------*/

.posts .card {
    box-shadow: 0 0 4px #ddd;
}


/*---------------POSTS CARD HEADER----------------*/

.posts .card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
}

.posts .card_header .card_name {
    transform: translateY(3px);
}

.posts .card_header .dropdown-menu {
    position: absolute;
    left: inherit;
    right: 0;
}

.posts .card_header .dropdown-item {
    display: flex;
    margin: 5px 0;
}

.col-md-2 {
    left: 10px;
}


/*----------------------REPONSIVE_HEADER_CARD----------*/

@media (max-width: 768px) {
    .posts .card_header .dropdown-menu {
        position: fixed;
        right: -80px;
    }
    .col-md-2 {
        display: none;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        left: 20px;
    }
    .col-md-4 {
        max-width: 50%!important;
    }
}

@media (max-width: 900px) {
    .col-md-2 {
        display: none;
    }
}


/*---------------POST CARD BODY-----------------*/

.card_body-content {
    padding: 0 25px;
    margin-top: -10px;
    margin-bottom: 10px;
}


/*---------------POST CARD FOOTER-----------------*/

.posts .card_icon_menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}

.posts .card_icon_menu i {
    font-size: 28px;
    margin: 10px;
}

.posts .card_icon_menu img {
    width: 28px;
    height: 28px;
    transform: translate(5px, -6px);
    opacity: 0.9;
}